<!DOCTYPE html>
<html>
<head>
    <title>Audio Player with Waveform Visualization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Audio Player with Waveform Visualization</h1>
    <input type="file" id="audioFileInput" accept=".mp3, .wav">
    
    <!-- <button id="showSliderButton">Show Slider</button> -->
    <div id="sliderContainer">
        <label for="numComponentsSlider">Number of Sources to be separated into: <span id="numComponentsValue">2</span></label>
        <input type="range" id="numComponentsSlider" min="1" max="32" step="1" value="2">
    </div>
    <div id="audioDisplay" style="display: none;">
        <audio id="audioPlayer" controls ></audio>
        <br>
        <button id="waveformButton">Show Audio Waveform</button>
        <br>
        <canvas id="waveform" width="500" height="200"></canvas>
    </div>
    <br><br>
    <button id="uploadButton">Upload and Send</button>
    <br><br><br><br>
    <div id="compsList"></div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>